<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="./assets/styles.css" />

    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
</head>

<body>
    <div id="app">
        Message: {{ message }}

        <div class="cart">Cart({{ cart }})</div>

        <div class="product-container">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <!-- /.product-image -->

            <div class="product-info">
                <h1 :style="fontColor">{{ brand + " " + product }}</h1>
                <h2 :style="fontColor">{{ title }}</h2>
                <p v-show="statement"><strong>Inventory</strong></p>
                <p v-if="inventory > 10">in stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Inventory: {{ inventory }}</p>
                <p v-else>out of stock</p>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.key" v-on:mouseover="updateImage(variant.image)"
                    class="color-circle" :style="{'background-color': variant.color}">
                    {{ variant.color }}
                </div>
                <div v-for="(variant, index) in variants"
                    @mouseover="updateVariant(index)">
                    variant id: {{ variant.id }}
                </div>
                <button class="button" v-on:click="cart += 1" :class="{'disabled-button': !inStock}" :disabled="!inStock">Add to Cart</button>
                <button class="button" @click="addToCart()">加入購物車</button>
            </div>
            <!-- /.product-info -->

        </div>
        <!-- /.product-container -->

    </div>
    <!-- /#app -->

    <script src="./login.js"></script>
    <!-- import app -->

    <script>
        // 必須在 src="./login.js" 後面才會作用
        const mountedApp = app.mount('#app')
    </script>
    <!-- mount app -->

</body>

</html>